canvas{
  z-index:1;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.time-slider{
  display: flex;
}
.flex-container {
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.136);
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%; /* Adjust the height as needed */
}

.Midi-Control {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.Midi-Control {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.Size-Control-Center {
  
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 1rem;
  padding-top: .5rem;
}